body {
    height: 100vh;
    overflow-x: hidden;
}

.tracker {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 40px;
    z-index: 9999;
    pointer-events: none;
    transition: all .1s;
}

.tracker svg {
    width: 100%;
    height: 100%;
}